
.nav {
  height: 100px;
  width: 100%;
  background-color: #fff;
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 0px 90px;
  line-height: 75px;
  display: flex;
  justify-content: space-between;

}

.nav > .nav-header {
  display: inline;
  overflow: hidden;
}

.nav > .nav-header > .nav-title span {
  width: 10px;
  height: 10px;
  background: #283593;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0px;

}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  padding: 10px 10px 10px 10px;
  position: relative;
  text-transform: uppercase;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;

  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}
.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 999;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 100px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
.right-menu a{
  margin: 0px 10px;
  font-size: 2.2rem;
  color: rgba(0,0,0,0.7);
  line-height: 100px;
}
.rings {
  height: 570px;
  width: 570px;
  border-radius: 50%;
  background: transparent;
  border: 50px solid rgba(255, 255, 255, 0.1);
  top: -119px;
  left: -173px;
  box-sizing: border-box;
  position: absolute;
}

.rings::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: transparent;
  border: 30px solid rgba(255, 255, 255, 0.1);
  top: 71px;
  left: 273px;
  box-sizing: border-box;
}
