<div class="nav">
  <div class="rings"></div>
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      LoGo <span></span>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="">Home</a>
    <a href="">Shop</a>
    <a href="">Men</a>
    <a href="">Women</a>
    <a href="">Kids</a>
  </div>
  <div class="right-menu">
    <a href="javascript:void(0);" class="search">
      <i class="las la-search" aria-hidden="true"></i>
    </a>
    <a href="javascript:void(0);" class="user">
      <i class="las la-user" aria-hidden="true"></i>
    </a>
    <a href="#">
      <i class="las la-shopping-cart" aria-hidden="true">
        <span class="num-cart-product">0</span>
      </i>
    </a>
  </div>
</div>
